---
import Layout from '../layouts/Layout.astro'
import Search from '../components/Search'
---

<Layout title='MercaFácil'>
  <main>
    <h1 class='text-white'>MercaFácil</h1>
    <Search client:visible />
  </main>
</Layout>
